<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous"
  />
  <title>Matheus Sizervinks</title>
</head>

<body>
  <nav id="navbar" class="navbar"><a href="#"></a></nav>
  <div class="container">
    <div class="menu">
      <a href="#bemvindo" class="menu-icon fas fa-home"></a>
      <a href="#sobre" class="menu-icon fas fa-user"></a>
      <a href="#projetos" class="menu-icon fas fa-code"></a>
      <a href="#experiencia" class="menu-icon fas fa-briefcase"></a>
    </div>

    <div class="portfolio">
      <section class="header">
        <img
          class="header-img"
          src="https://cdn.discordapp.com/attachments/1120854376202899559/1126310030052966410/1668562175610.jpg"
          alt=""
        />
        <h1>Matheus Sizervinks</h1>
        <h2>Desenvolvedor Full Stack e Tech Lead</h2>
        <div class="socials">
          <a
            href="https://www.linkedin.com/in/matheus-sizervinks-ferreira/"
            target="_blank"
            class="fab fa-linkedin-in"
            id="profile-link"
          ></a>
          <a href="https://github.com/MathSZVKS/MathSZVKS" target="_blank" class="fab fa-github"></a>
        </div>
      </section>

      <div class="content">
        <section class="content-card home" id="bemvindo">
          <h1 style="color: #1c1c1c">Olá, seja bem vindo ao meu portifólio</h1>
        </section>
        <section class="content-card about" id="sobre">
          <h1>Sobre mim</h1>
          <div class="about-item about-me">
            <p>
              Atuando no desenvolvimento de aplicações Web com uso do Java com
              Spring Boot no Backend, Angular no Frontend, Oracle como banco de
              dados e alguns padrões e tecnologias como: Spring MVC, Maven,
              Hibernate, JPA, Jira para gerenciamento de pr﻿ojetos, SonarQube e Jenkins.
            </p>
          </div>
          <div
            class="row-12 cardSkills"
            style="flex-wrap: wrap; flex-direction: column"
          >
            <div
              style="
                width: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
              "
            >
              <h1>Skills</h1>
            </div>
            <div style="width: 100%">
              <div style="flex: 1">
                <div class="about-item">
                  <div>
                    <p>Angular</p>
                    <span class="bar"><span class="angular"></span></span>
                  </div>
                  <div>
                    <p>Java - Spring Boot</p>
                    <span class="bar"><span class="java"></span></span>
                  </div>
                  <div>
                    <p>Oracle</p>
                    <span class="bar"><span class="oracle"></span></span>
                  </div>
                  <div>
                    <p>Junit, Jasmine e Robot</p>
                    <span class="bar"><span class="tests"></span></span>
                  </div>
                  <div>
                    <p>Git</p>
                    <span class="bar"><span class="git"></span></span>
                  </div>
                  <div>
                    <p>Docker</p>
                    <span class="bar"><span class="docker"></span></span>
                  </div>
                  <div>
                    <p>SonarQube</p>
                    <span class="bar"><span class="sonar"></span></span>
                  </div>
                  <div>
                    <p>Scrum, Kanban</p>
                    <span class="bar"><span class="metod"></span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="content-card projects" id="projetos">
          <h1>Projetos</h1>
          <div class="col-2 project-list">
            <div class="project-tile">
              <img
                src="https://cdn.discordapp.com/attachments/1120854376202899559/1126314176164409496/1688148250981.jpg"
              />
              <div class="overlay">
                <div class="project-description">
                  <h3>BuddyCare</h3>
                  <p>Aplicação para controle de PetShop e relacionamento com o cliente</p>
                </div>
              </div>
            </div>
            <div class="project-tile">
              <img
                src="https://cdn.discordapp.com/attachments/1120854376202899559/1126315240389349488/master.png"
                alt=""
              />
              <div class="overlay">
                <div class="project-description">
                  <h3>MasterBoost</h3>
                  <p>Desenvolvido para jogadores de Destiny</p>
                </div>
              </div>
            </div>
            <div class="project-tile">
              <img
                src="https://cdn.discordapp.com/attachments/1120854376202899559/1126314795092672532/opus.png"
                alt=""
              />
              <div class="overlay">
                <div class="project-description">
                  <h3>New Opus</h3>
                  <p>Uma nova forma de ver o Opus - Projeto experimental</p>
                </div>
              </div>
            </div>
            <div class="project-tile">
              <img
                src="https://media.discordapp.net/attachments/1120854376202899559/1126315360841388093/doceria.png?width=608&height=468"
                alt=""
              />
              <div class="overlay">
                <div class="project-description">
                  <h3>Doceria três corações</h3>
                  <p>Site desenvolvido para a doceria três corações</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="content-card experience" id="experiencia">
          <h1>Experiencia</h1>
          <div class="timeline">
            <div class="timeline-items">
              <div class="timeline-item">
                <div class="timeline-date">2022 - atual</div>
                <div class="timeline-content">
                  <h3>Desenvolvedor Full Stack - Tech lead</h3>
                  <p>
                    Desenvolvimento de aplicações Webpep utilizando-se Angular e Java com Spring Boot e coordenação da equipe de desenvolvimento do sistema carro chefe da Unimed de Uberaba. Algumas outras atribuições são: manutenção da aplicação e ambiente com SonarQube e Jenkins, integração com API's externas, participação em reuniões e discussões para entender os requisitos do sistema e propor soluções técnicas, acompanhamento de tendências e melhores práticas de desenvolvimento web, treinamento e orientação de membros juniores da equipe, atendimento a solicitações de suporte e resolução de problemas de produção.
                  </p>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-date">2021 - 2022</div>
                <div class="timeline-content">
                  <h3>Desenvolvedor Full Stack</h3>
                  <p>
                    Desenvolvimento Frontend e Backend dos dois principais sistemas da Unimed de Uberaba utilizando-se Angular e Java com Spring Boot, otimização de desempenho e escalabilidade dos sistemas, integração com bancos de dados, implementação de APIs RESTful, correção de bugs e implementação de melhorias.
                  </p>
                </div>
              </div>
              <div class="timeline-item">
                <div class="timeline-date">2021 - 2021</div>
                <div class="timeline-content">
                  <h3>QA</h3>
                  <p>
                    Planejamento e estratégia de teste, testes End-to-End utilizando-se Robot Framework, documentação de testes, melhoria contínua, garantia da qualidade do ambiente. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>
